<h1>Score</h1>

<%= params[:letters] %>

<ul>
  <li>Attempt: <%= @attempt%></li>
  <li>Is <%= @attempt%> a real word?: <%= @result[:translation]%></li>
  <li>Message: <%= @result[:message]%></li>
</ul>



<%= link_to "NewGame", "new"  %>
